@model VehicleCreateViewModel

@{
    ViewData["Title"] = "Добави нова автомобил";
}

<h1>@ViewData["Title"]</h1>

<head>
    <style>
        body {
            background-color: MintCream;
        }
    </style>
</head>

<form asp-action="Create" asp-controller="Vehicle" method="post">
    <label asp-for="BrandName" class="alert-warning">Марка</label>
    <input asp-for="BrandName" class="alert-info" />
    <span asp-validation-for="BrandName" class="text-danger"></span><br />

    @*<label asp-for="VehicleId" class="alert-warning">Номер на автомобил</label>
    <input asp-for="VehicleId" class="alert-info" />
    <span asp-validation-for="VehicleId" class="text-danger"></span><br />

    <label asp-for="BrandName" class="alert-warning">Автомобил</label>
    <input asp-for="BrandName" class="alert-info" />
    <span asp-validation-for="BrandName" class="text-danger"></span><br />

    <label asp-for="Type" class="alert-warning">Тип</label>
    <input asp-for="Type" class="alert-info" />
    <span asp-validation-for="Type" class="text-danger"></span><br />

    <label asp-for="Model" class="alert-warning">Модел</label>
    <input asp-for="Model" class="alert-info" />
    <span asp-validation-for="Model" class="text-danger"></span><br />

    <label asp-for="Year" class="alert-warning">Година</label>
    <input asp-for="Year" class="alert-info" />
    <span asp-validation-for="Year" class="text-danger"></span><br />

    <form action="/action_page.php">
        <label for="FuelType" class="alert-warning">Гориво</label>
        <select class="alert-info" name="FuelType" id="FuelType">
            <option value="Бензин">Бензин</option>
            <option value="Дизел">Дизел</option>
            <option value="Газ">Газ</option>
            <option value="Метан">Метан</option>
        </select>
        <br><br>
    </form>

    <label asp-for="HorsePower" class="alert-warning">Мощност</label>
    <input asp-for="HorsePower" class="alert-info" />
    <span asp-validation-for="HorsePower" class="text-danger"></span><br />

    <label asp-for="Color" class="alert-warning">Цвят</label>
    <input asp-for="Color" class="alert-info" />
    <span asp-validation-for="Color" class="text-danger"></span><br />

    <label asp-for="Price" class="alert-warning">Цена</label>
    <input asp-for="Price" class="alert-info" />
    <span asp-validation-for="Price" class="text-danger"></span><br />

    <label asp-for="StoreId" class="alert-warning">Име на магазин</label>
    <input asp-for="StoreId" class="alert-info" />
    <span asp-validation-for="StoreId" class="text-danger"></span><br />*@

    <input type="submit" value="Запази" class="btn btn-outline-success" />
    <a asp-action="Index" class="btn btn-success">Назад</a>

</form>


