@model SellerInfoCreateViewModel

@{
    ViewData["Title"] = "Добави нов продавач";
}

<h1>@ViewData["Title"]</h1>

<head>
    <style>
        body {
            background-color: MintCream;
        }
    </style>
</head>
@{
    var stores = this.Model.Stores.Select(x => new SelectListItem(x.Value, x.Key));
}

<form asp-action="Create" asp-controller="SellerInfo" method="post">
    <label asp-for="Name" class="alert-warning">Име</label>
    <input asp-for="Name" class="alert-info" />
    <span asp-validation-for="Name" class="text-danger"></span><br />

    <label asp-for="StoreId" class="alert-warning">Номер на магазин</label>
    <select asp-for="StoreId" asp-items="stores" class="alert-info"></select>
    <span asp-validation-for="StoreId" class="text-danger"></span><br />

    <input type="submit" value="Запази" class="btn btn-outline-success" />
    <a asp-action="Index" class="btn btn-success">Назад</a>

</form>

