@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в сайта за покупка и продажба на автомобили.</h1>
    <h4>Автор: Йоанна Станчева</h4>

    <img src="https://automedia.investor.bg/media/files/resized/gallery/600x/82c/77107c0e73261179687874ba9e41082c-01glc.jpg" alt="Mercedes" style="width:100%; height:100%;" />
</div>
